[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
pytest = "*"
doc8 = "*"

[packages]
sphinx = "*"
sphinxcontrib-mermaid = "*"
recommonmark = "*"
sphinx-sitemap = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.6"

[scripts]
docs="sphinx-build -M html docs/ docs/_build"
